bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

*.log
*.log.*

.vscode/
.idea/
*.DotSettings
.vs/

*.dll
*.exe
*.pdb
*.cache
*.config
*.db
*.deps.json
*.runtimeconfig.json

*.idx
*.suo
*.vsidx
*.dtbcache.*
*.futdcache.*

*.tmp
*.bak
*.old
*.orig
*.swp
*.DS_Store
Thumbs.db

chromedriver/
chromedriver/chromedriver.exe
chromedriver/LICENSE.chromedriver
chromedriver/THIRD_PARTY_NOTICES.chromedriver



wildberries_debug.html

AnalysisResults/
ParsedReviews/
*.json
reviews*.json
analysis*.json

/Models/*.gguf

Native/

